fastapi
uvicorn[standard]

requests
pydantic

torch==2.5.1
transformers==4.57.1
sentence-transformers==5.5.1
faiss-gpu
numpy<2.0

psycopg2-binary
python-dotenv
redis

openai==0.28
cachetools
elasticsearch==8.11.0